{% extends "base.html" %}
{% load static %}

{% block service-links %}
    <div>
        <li class="breadcrumb-item "><a href="{% url 'eservices' %}">Home</a></li>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <h5 align="center">Welcome!!! View all Passport Processing. </h5>
    <hr>
    <ol type="1">
        {% for object in object_list %}
        <li>
            <a href="/passport_detail/{{object.id}}" class="text-blue">
                <span>
                {% for k, v in apply_type %}
                    {% if k == object.application_type %}
                        {{ v }}
                    {% endif %}
                {% endfor %}
                </span>
                <alt>for</alt>
                <label>{{ object.applicant.full_name }}</label>
            </a>
        </li>


        <hr/>
        {% empty %}
        <li>
            No member register yet.
        </li>
        {% endfor %}
    </ol>
        <a href="/" class="text-white"><--Back</a>
</div>
{% endblock content %}