{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="modal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <br/>
    <button 
        id="create-transaction"
        type="button"
        data-popup-url="{%url 'visa-processing-create' %}" 
        class="btn btn-sm btn-success float-start"
        name="button"
        > 
        New</button>

    <button type="button" class="btn btn-sm btn-success bs-modal float-end me-1" href="#">Reports</button>

    <button 
        id="filter-transaction" 
        type="button" 
        class="filter-transaction btn btn-sm btn-success float-end me-1" 
        name="button" 
        data-form-url="{% url 'visa-processing-filter' %}"
        >
        Filter</button>

    
    <br>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">OR #</th>
                <th scope="col">Client Surname</th>
                <th scope="col">Client Given Name</th>
                <th scope="col">Status</th>
                <th scope="col">Visa Service</th>
                <th scope="col">Country Visa</th>
                <th scope="col">Created By</th>
                <th scope="col">Updated By</th>
            </tr>
        </thead>
        <tbody>
            {% for visa in visa_processing_list %}
            <tr>
                <td>{{ visa.or_number }}</td>
                <td>{{ visa.client_surname }}</td>
                <td>{{ visa.client_given_name }}</td>
                <td>{{ visa.status }}</td>
                <td>{{ visa.visa_service_type }}</td>
                <td>{{ visa.country_visa | capfirst }}</td>
                <td>{{ visa.created_by }}</td>
                <td>{{ visa.updated_by }}</td>
                <td>
                    <button type="button" class="view-transaction bs-modal btn btn-sm btn-primary" data-form-url="{% url 'visa-processing-view' visa.visa_processing_id %}">
                        View
                    </button>
                    <button type="button" class="update-transaction bs-modal btn btn-sm btn-warning" data-form-url="{% url 'visa-processing-update' visa.visa_processing_id %}">
                        Update
                    </button>
                    <button type="button" class="delete-transaction bs-modal btn btn-sm btn-danger" data-form-url="">
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"> &laquo; </a></li>
        {% else %}
            <li class="disabled"><span> &laquo; </span></li>
        {% endif %}
        
        {% for i in paginator.page_range %}
            
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"> &raquo; </a></li>
        {% else %}
            <li class="disabled"><span> &raquo; </span></li>
        {% endif %}
        </ul>
    {% endif %}

</div>
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', (e) => {
        modalForm(document.getElementById('create-transaction'), {
        formURL: "{% url 'visa-processing-create' %}",
        })
    });

    document.addEventListener('DOMContentLoaded', (e) => {
        var updateButtons = document.getElementsByClassName("update-transaction");
        for (var index=0; index < updateButtons.length; index++) {
            modalForm(updateButtons[index], {
            formURL: updateButtons[index]["dataset"]["formUrl"],
            isDeleteForm: false
            });
        }
    });

    document.addEventListener('DOMContentLoaded', (e) => {
        var viewButtons = document.getElementsByClassName("view-transaction");
        for (var index=0; index < viewButtons.length; index++) {
            modalForm(viewButtons[index], {
            formURL: viewButtons[index]["dataset"]["formUrl"],
            isDeleteForm: false
            });
        }
    });

    document.addEventListener('DOMContentLoaded', (e) => {
        modalForm(document.getElementById('filter-transaction'), {
        formURL: "{% url 'visa-processing-filter' %}",
        })
    });

</script>

{% endblock content %}