{% extends "base.html" %}
{% load static %}

{% block service-links %}
    <li class="breadcrumb-item "><a href="{% url 'passport-detail' %}">Passport Processing Details</a></li>
{% endblock %}


{% block content %}

<div class="container">
    <h5 align="center">Welcome to Fitness Club!!! View your Gym Member complete detail.</h5>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Personal Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Email</th>
                <th scope="col">Weight</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{object.name}}</td>
                <td>{{object.gender}}</td>
                <td>{{object.date_of_birth}}</td>
                <td>{{object.personal_address}}</td>
                <td>{{object.city}}</td>
                <td>{{object.state}}</td>
                <td>{{object.email}}</td>
                <td>{{object.weight}}</td>
                <td><a class="btn btn-warning" href="/{{object.pk}}/updatemember/" role="button">Update</a><a
                        class="btn btn-danger" href="/{{object.pk}}/deletemember" role="button">Delete</a>
                </td>
            </tr>

        </tbody>
    </table>
    <a href="/listmembers" class="text-white"><--Back to list</a>
</div>

{% endblock content %}