{% load static %}
{% load humanize %}
{% block content %}
<!-- Topbar header - style you can find in pages.scss -->
        <div class="navbar-brand pull-right">
            <ul class="navbar-nav mr-auto mt-md-0">
                {% for service in nav_services %}
                    <li class="nav-item">
                        <input name="hdn_service_path" type="hidden" value="{{ service.services_slug }}-list"/>
                        <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="{% url service.services_slug|add:'-list'|escape %}">
                            <i class="mdi mdi-menu">{{ service.services_name }}</i>
                            <i></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
{% endblock content %}