{% extends 'authentication/base.html' %}
{% load staticfiles %}
{% block content %}

<form class="form-horizontal m-b-30" id="frmResetPassword" action="{% url 'dist-reset-password' %}?hash={{ hash }}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="hash" id="hash" value="{{ hash }}">
    <div class="text-center m-b-30">
        <img src="{% static 'assets/images/psymetrics/logo-log-in.png' %}" alt="homepage" class="dark-logo">
        <hr>
    </div>
    <div class="text-center">
        <p style="font-weight: 600; text-align: center;">Reset Password</p>
    </div>
    <div class="error-list"></div>
    <div class="form-group m-t-20">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="ti-lock"></i>
                </span>
            </div>
            <input type="password" class="form-control" id="password" name="password" placeholder="New Password">
        </div>
        <div id="password_error"></div>

        {% if error_message %}
            <br />
            <div class="alert alert-danger" role="alert">
                {% for error in error_message %}
                    <li>{{ error }}</li>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="form-group m-t-20">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="ti-lock"></i>
                </span>
            </div>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Re-Enter Password">
        </div>
        <div id="confirm_password_error"></div>
    </div>

    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-main btn-block btn-lg">Change Password</button>
        </div>
    </div>
</form>

{% endblock %}
