{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en" style="font-size:0.875em">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>EcoScape - {{ title }}</title>
</head>
<body>
    <section id="wrapper">
        <div class="login-register" style="background-image:url({% static 'assets/images/background/log-in-bg.png' %});">
            <div class="login-box card">
                <div class="card-body">
                    {% block content %}
                    content
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>12
</body>
</html>

