{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en" style="font-size:0.875em">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>EcoScape - {{ title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />-->

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap5.modal.forms.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="{% static 'css/style.css' %}" />-->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.8/index.global.min.js" integrity="sha256-BDUJwEsCDLN5B5WF9Y0ud9vwgTRMR2sDPbywL+sBwR8=" crossorigin="anonymous"></script>
</head>

<!--<body class="fix-header fix-sidebar card-no-border" style="width: 1230px">-->
<body class="d-flex flex-column">
    <header class="header">
        <!--<div id="container">-->
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                    
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            {%if request.user.is_authenticated %}
                                <a href="{%url 'es_calendar'%}" class="btn btn-outline-dark">
                            {%else%}
                                <a href="{%url 'home'%}" class="btn btn-outline-dark">
                            {%endif%}
                                <img src="{% static 'assets/images/lucid_launcher.png' %}" alt="demy_services" class="img-responsive p-1" style="max-height: 40px;" />
                                Calendar</a>
                        </li>
                    </ul>
                    
                    
                    {%if request.user.is_authenticated %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                {% include 'eservices/eservices.html' %}
                                <span class="btn btn-outline-dark">
                                    <img src="{% static 'assets/images/starpro.png' %}" alt="profile" class="img-outline-dark p-1" style="max-height: 20px;" />
                                    Hi {{ request.user.username | title }}
                                    <a href="{% url 'logout' %}" class="btn btn-sm btn-primary">Logout</a>
                                </span>
                            </li>
                        </ul>

                    {%else%}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="{% url 'login' %}" class="btn btn-outline-dark">Login</a>

                                <a href="{% url 'register' %}" class="btn btn-outline-dark">Join Now</a>
                            </li>
                        </ul>
                    {%endif%}
            </div>
        </nav>
        <!--</div>-->
  	</header>

    <main>
        &nbsp;&nbsp;
        <div id="container" style="min-height:100vh">
            <!-- Page wrapper  -->
            <div class="page-wrapper">
                <!-- Container fluid  -->
                <!--<div class="container-fluid">-->
                    <div class="row page-titles justify-content-center">
                        <div class="col-md-6 col-12 align-self-center">

                            <h3 style="white-space: nowrap;">{{ title }}</h3>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}">
                                       {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                <!--</div>-->

                {% block content %}
                {% endblock content %}

            </div>
        </div>
    </main>
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="container text-center">
            <p>© Copyright {% now "Y" %} by <a href="demy_services">EcoScape Travel and Tours</a></p>
        </div>
    </footer>

</body>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
    });

/***
$(document).ready(function () {
    
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: '/all_events',
            selectable: true,
            selectHelper: true,
            editable: true,
            eventLimit: true,
            select: function (start, end, allDay) {
                var title = prompt("Enter Event Title");
                if (title) {
                    var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                    var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
                    $.ajax({
                        type: "GET",
                        url: '/add_event',
                        data: {'title': title, 'start': start, 'end': end},
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            alert("Added Successfully");
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                }
            },
            eventResize: function (event) {
                
                var start = $.fullCalendar.formatDate(event.start, "MM-DD-YYYY HH:mm:ss");
                var end = $.fullCalendar.formatDate(event.end, "MM-DD-YYYY HH:mm:ss");
                var client = event.client;
                var or_number = event.or_number;

                console.log(start);

                $.ajax({
                    type: "GET",
                    url: '/update',
                    data: {'client': client, 'start': start, 'end': end, 'or_number': or_number},
                    dataType: "json",
                    success: function (data) {
                        calendar.fullCalendar('refetchEvents');
                        alert('Event Update');
                    },
                    error: function (data) {
                        alert('There is a problem!!!');
                    }
                });
            },
  
            eventClick: function (event) {
                console.log("Ryanm");
                
                //var start = $.fullCalendar.formatDate(event.start, "MM-DD-YYYY HH:mm:ss");
                //var end = $.fullCalendar.formatDate(event.end, "MM-DD-YYYY HH:mm:ss");
                var start = $.fullCalendar.formatDate(event.start, "YYYY-MM-DD");
                var end = $.fullCalendar.formatDate(event.end, "YYYY-MM-DD");
                //var start = event.start;
                //var end = event.end;
                var client = event.client;
                var or_number = event.or_number;
                var id = event.visa_processing_id
                
                console.log(client);
                console.log(or_number);
                console.log(start);

                $.ajax({
                    type: "GET",
                    url: '/update',
                    data: {'visa_processing_id':id,
                            'client': client, 
                            'start': start, 
                            'end': end, 
                            'or_number': or_number
                        },
                    dataType: "json",
                    success: function (data) {
                        calendar.fullCalendar('refetchEvents');
                        alert('Event Update');
                    },
                    error: function (data) {
                        alert('There is a problem!!!');
                    }
                });
            },
  
            eventDrop: function (event) {
                if (confirm("Are you sure you want to remove it?")) {
                    var id = event.id;
                    $.ajax({
                        type: "GET",
                        url: '/remove',
                        data: {'id': id},
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            alert('Event Removed');
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                }
            },
  
        });
    
});
**/
</script>

</html>